/*Header*/
header {
	margin: 0 auto;
	height: 250px;
	text-align: center;
}
header h1 {
	font-size:4em;
	color: #000;
	display: inline-block;
	margin: 50px 10px 30px;
}
header h1 span {
	color: green;
}
header p {
	font-style: 2em;
	width:500px;
	margin: 0 auto;
}
.container {
	width: 980px;
	margin: 0 auto;
}
/*BODY*/

/*LIST INPUTS*/
section.list-form {
	border-top: 2px solid black;
	text-align: left;
}
.list-form ul {
	padding: 0 15px;
	display: inline-block;
	width: 100%;
	position: relative;
	left: 0;
	right: 0;
}
.list-form ul li{
	display: inline-block;
	margin-right:3em;
	text-align: justify;

}
input {
	display: block;
	margin-top: 5px;
}
.submit {
	float: right;
	right: 0;
	bottom: 0;
	position: absolute;
}
/*SHOPPING LIST*/
.shop-list ul {
	display: block;
	text-align: left;
	padding: 0 15px;
}
.shop-list ul li {
	list-style: none;
	display: inline-block;
	margin-right:3em;
	text-align: justify;
}
.shop-list ul li:first-child {
	width: 176px;
}
.shop-list ul li:nth-child(2) {
	width: 100px;
}
.shop-list ul li:nth-child(3) {
	width: 42px;
}
/*TOTAL*/
section.total {
	border-top: 2px solid black;
	text-align: center;
}